$Soft-blue: hsl(215, 51%, 70%);
$Cyan: hsl(178, 100%, 50%);
$Very-dark-blue-main: hsl(217, 54%, 11%);
$Very-dark-blue-card: hsl(216, 50%, 16%);
$Very-dark-blue-line: hsl(215, 32%, 27%);
$White: hsl(0, 0%, 100%);

@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lexend+Deca&family=Outfit&family=Red+Hat+Display&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body {
  height: 100vh;
  background-color: hsl(217, 54%, 11%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  .card {
    background-color: hsl(216, 50%, 16%);
    max-width: 375px;
    padding: 30px;
    .nft {
      background: url(../images/image-equilibrium.jpg) no-repeat center/cover;
      height: 250px;
      border-radius: 10px;
      margin-bottom: 20px;
    }
    .nft-name {
      color: hsl(0, 0%, 100%);
      margin-bottom: 20px;
    }
    .nft-desc {
      color: hsl(215, 51%, 70%);
      line-height: 1.6;
      margin-bottom: 20px;
    }
    .container {
      display: flex;
      justify-content: space-between;
      span {
        display: flex;
        gap: 10px;
        margin-bottom: 10px;
        .nft-value {
          color: hsl(178, 100%, 50%);
        }
        .days {
          color: hsl(215, 51%, 70%);
        }
      }
    }
    .creation {
      margin-top: 20px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 15px;
      .avatar {
        width: 50px;
        border-radius: 50%;
        border: 1px solid hsl(0, 0%, 100%);
      }
      .creation-desc {
        letter-spacing: 1px;
        color: hsl(0, 0%, 100%);
        .white {
          color: hsl(215, 32%, 27%);
          font-weight: 600;
        }
      }
    }
  }
}
